# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages in data science
* Commonly used libraries by data scientists:
* Data science tools

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy 
4. MatplotLib

| Data Science Tools      |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
print("The result of the operation is: ",  (3*4)+5)

The result of the operation is:  17

In [9]:
# This will convert 200 minutes to hours by diving by 60
print("The result of the operation is: ", round(200/60,2), "hours")

The result of the operation is:  3.33 hours

## Author
Mateo Santiago Carre√±o Guevara